html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4c91ad;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }

form {
    width: 100%;
}

h1, label, p {
    color:black
}

input, textarea, option, select {
    color: black;
}

select {
    width:170px;
}

label {
    font-size: 17px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
  }

textarea {
    width: 350px;
    resize: none;
}

#ip1, #ip2, #ip3 {
    width: 300px;
    height: 40px;
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 3px soild black;
}

.loginBox {
    width: 100%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.signUpSubmit {
    margin: 10px 0 15px 0;
    background:#ccc; 
    -webkit-border-radius: 10px;
    border-radius: 5px; 
  }

#bt1 {
    margin: 10px 0 15px 0;
    background:#ccc; 
    -webkit-border-radius: 10px;
    border-radius: 5px; 
    color: black;
}
  
/* #submit {
    margin: 25px 0 15px 0;
    background-color: cadetblue;
} */

